h2{
    color:red;
}
h3{
    color:green;
}
p{
    color:blue;
}
body{
    background-color: green;
}
h1{
    color:red;
}
.child{
    float:centre;
    width:80%;

}
.pass{
    float:centre;
    width:50%;
}
head{
    background-color: rgb(0,255,0);
}
input:focus:invalid{
    border: 2 px solid red;
}
.pass1{
    float:centre;
    width: 60%;
}
.main{
    background-color: green;
}
.container{
    background-color: green;
    background-color: green;
}
