h2{
    color:red;
}
h3{
    color:green;
}
p{
    color:blue;
}
body{
    background-color: green;
}
h1{
    color:red;
}
.child{
    float:centre;
    width:80%;

}
.pass{
    float:centre;
    width:50%;
}
head{
    background-color: rgb(0,255,0);
}
input:focus:invalid{
    border: 2 px solid red;
}
.pass1{
    float:centre;
    width: 60%;
}
.main{
    background-color: green;
}
.container{
    background-color: #2b2d42;
    background-image: none;
}
.flex-container{
    display: flex;
    background-color:black;
    justify-content: stretch;
    flex-wrap: wrap;
}
.flex-container li{
    list-style-type: none;
}
.flex-container a{
    display: inline-block;
    padding: 20px;
    text-align: center;
    color:red;
    background-color:black;
    

}